@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* reset */
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* Generique */
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.hidden {
  display: none !important;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* aside */
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}

/* home */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}
.home .home-img img {
  height: 400px;
  margin: auto;
  border-radius: 5px;
}

/* section About */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Pour centrer horizontalement */
  height: 100vh; /* Pour centrer verticalement */
}

.about .about-info {
  padding: 30px;
}

.about header {
  margin-bottom: 20px;
}

.about header h2 {
  font-size: 28px;
  color: var(--text-black-900);
}

.about .about-content p {
  margin-bottom: 10px;
  line-height: 1.6;
  color: var(--text-black-700);
}

/* Nouveaux styles */
.about-section,
.personal-info-section,
.skills-section {
  border-bottom: 1px solid var(--bg-black-50);
  margin-bottom: 30px;
  padding-bottom: 20px;
}

header h2 {
  color: var(--text-black-700);
  font-size: 28px;
  margin-bottom: 20px;
}

.about-content p,
.personal-info p,
.skills .skill-item h5 {
  color: var(--text-black-700);
}

/* Styles pour la section Information personnelle */
.personal-info {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0 -25px; 
}

.personal-info p {
  flex: 0 0 40%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--bg-black-50);
}

.personal-info-col {
  margin: 25px;
}

.personal-info-col p span {
  color: var(--text-black-700);
  font-weight: bold;
}

/* Styles pour la section Compétences */
.skills {
  display: flex;
  justify-content: space-between;
}

.skill-category {
  flex: 1;
  /* padding: 0 15px;  */
}

.skills-section {
  margin-bottom: 30px;
}

.skills .skill-category {
  margin-bottom: 20px;
  text-align: left;
}

.skills .skill-category h3 {
  font-size: 24px;
  color: var(--text-black-700);
  margin-bottom: 10px;
}

.skill-category h3 {
  border-bottom: 1px solid var(--bg-black-50);
  margin-bottom: 10px;
  width: 20%; 
  /* margin-left: auto; 
  margin-right: auto;  */
  text-align: left;
}

.skills .skill-item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.skills .skill-item i {
  font-size: 24px;
  margin-right: 10px;
}

.skills .skill-item p {
  color: var(--text-black-700);
}

/* bouton de about */
.boutton-section {
  text-align: center;
}

/* section education  */

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour centrer verticalement */
}

.education h2 {
    font-size: 28px;
    color: var(--text-black-900);
    margin-bottom: 20px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: 50px; /* Ajusté pour donner de l'espace pour la date */
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: var(--skin-color);
}

.timeline-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 20px; /* Ajusté pour aligner le contenu avec la barre */
  position: relative;
  width: 100%;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -20px; /* Ajusté pour positionner le cercle correctement */
  top: 6px; /* Ajusté pour aligner le cercle avec la date et le titre */
  height: 10px;
  width: 10px;
  background-color: var(--skin-color);
  border-radius: 50%;
}

.timeline-date {
  font-size: 16px;
  color: var(--text-black-700);
  margin-right: 10px; /* Ajusté pour donner de l'espace entre la date et le cercle */
  position: absolute;
  left: -60px; /* Ajusté pour positionner la date à gauche du cercle */
}

.timeline-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-item h4 {
  font-size: 20px;
  color: var(--text-black-900);
  margin-top: -2.5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.timeline-item h4 a {
  color: inherit; /* hérite la couleur du texte du parent h4 */
  text-decoration: none; /* retire le soulignement */
  font-weight: inherit; /* hérite la graisse du texte du parent h4 */
}

.timeline-item p {
  font-size: 16px;
  color: var(--text-black-700);
}

/* experience */
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Pour centrer horizontalement */
  height: 100vh; /* Pour centrer verticalement */
  text-align: center; /* Pour centrer le texte */
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  text-align: left; /* Ajouté pour aligner le texte à gauche */
}

header h2 {
  color: var(--text-black-900);
  font-size: 28px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Pour centrer les cartes horizontalement */
}

.card {
  border: 1px solid var(--bg-black-50);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.image-container img {
  width: 100%; /* Assure que l'image remplit la largeur de la carte */
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--text-black-900); /* Assurez-vous que cette variable est définie dans votre CSS */
}


.card-content p {
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow-y: auto; /* Permet le défilement vertical si le contenu est trop long */
  max-height: 7em;
  /* text-overflow: ellipsis;  Retiré */
  /* display: -webkit-box;  Retiré */
  /* -webkit-line-clamp: 3;  Retiré */
  /* -webkit-box-orient: vertical;  Retiré */
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: var(--text-black-900);
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

header h2 {
  color: var(--text-black-700);
  margin-bottom: 20px;
}

form label {
  margin-bottom: 5px;
  color: var(--text-black-900);
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"].btn {
  all: unset;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

input[type="submit"].btn:hover {
  transform: scale(1.05);
}